##--------------- Backend ENV -----------------------

APP_ENV=production
PORT=8080
ALLOWED_ORIGINS=http://127.0.0.1

SERVER_IP="127.0.0.1"

MONGO_USERNAME="<USERNAME>"
MONGO_PASSWORD="<PASSWORD>"

JWT_SECRET="<SET_KEY>"

##--------------- Frontend ENV -----------------------

NEXT_PUBLIC_API_URL=http://backend:8080
# Environment: development | production
NODE_ENV=production


