.env
/.idea
.idea/
/bin
main
local.Dockerfile
localold.Dockerfile
.gitlab-ci.yml
deploy.log
/uploads
./uploads
.vscode
./unit_test
/unit_test
.env.dev
.env.stage
.env.local
.env.pre-prod
.env.test
.env.prod
.env.alpha
.air.toml
tmp
*.test
./test
/test
